<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All posts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <br>
    <a href="{% url 'blog:new' %}"><button>New post</button></a>
    <div class="posts">

    </div>
    <br>
    {% for post in posts %}
        <div class="posts" data-object-id="{{ post.id }}">
             <p>
                 Title: {{ post.name }}
             </p>
            <p>
                Text: {{ post.post }}
            </p>
            <p>
                Was created: {{ post.date }}
            </p>
            <a href="{% url 'blog:edit' pk=post.pk %}"><button>Edit post</button></a>
            <a href="{% url 'blog:del' pk=post.pk %}">
                <button class="del_post" data-object-id="{{ post.id }}">Delete post</button></a>
            <br>
            __________________________________
        </div>


    {% endfor %}
    <script>
        $('.del_post').click(function(e){
            e.preventDefault();
            var el = $(e.target);
            var postId = el.attr("data-object-id");
            var postDiv = el.parents('.posts');
            var url = "/blog/" + postId + "/del/";
            console.log(postDiv);
            $.get(url);
            var send_data = {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'post': postId
            };
            $.post(url, send_data, function (data) {
                console.log(data);
                if (data.result) {
                    alert('Post deleted');
                }
                else {
                    console.log(data.errors);
                    alert(data.errors.name[0])
                }
                postDiv.hide()
            });
        });
    </script>

</body>
</html>