<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All posts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <br>
    <a href="{% url 'blog:new' %}"><button>New post</button></a>
    <div class="posts">

    </div>
    <br>
    {% for post in posts %}
        <div class="posts" data-object-id="{{ post.id }}">
             <p>
                 Title: {{ post.name }}
             </p>
            <p>
                Text: {{ post.post }}
            </p>
            <p>
                Was created: {{ post.create_date }}
            </p>
            <p>
                Was edited: {{ post.edit_date }}
            </p>
             <p>
                Comments: {{ comments }}
            </p>
            <a href="{% url 'blog:edit' pk=post.pk %}"><button>Edit post</button></a>
            <a href="{% url 'blog:del' pk=post.pk %}">
                <button class="del_post" data-object-id="{{ post.id }}">Delete post</button></a>
            <br>
{#            <div class="comment_div" data-object-id="{{ post.id }}">#}
            <a href="{%url 'blog:comment_new' pk=post.pk %}" class="add_comment">Комментарий
            <form method="post" action="" class="form" style="display: none">
                {% csrf_token %}
                <div class="form-group">
                    <label for="comment" class="cols-sm-2 control-label"></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <textarea  class="form-control comment_new_text"
                                       placeholder="Комментировать" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default regbutton comment_new_but"
                                 data-object-id="{{ post.id }}">Send</button>
                        <button class="btn btn-default regbutton comment_new_but_hide"
                                data-object-id="{{ post.id }}">Hide</button>
                    </div>

                </div>
            </form>
                </a>
{#                </div>#}
            <br>
        __________________________________
        </div>



    {% endfor %}
    <script>
        $('.del_post').click(function(e){
            e.preventDefault();
            var el = $(e.target);
            var postId = el.attr("data-object-id");
            var postDiv = el.parents('.posts');
            var url = "/blog/" + postId + "/del/";
            console.log(postDiv);
            $.get(url);
            var sendData = {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'post': postId
            };
            $.post(url, sendData, function (data) {
                console.log(data);
                if (data.result) {
                    alert('Post deleted');
                }
                else {
                    console.log(data.errors);
                    alert(data.errors.name[0])
                }
                postDiv.hide()
            });
        });

        $('.add_comment').click(function(e){
            e.preventDefault();
            var el = $(e.target);
            var form = el.children('.form');
            form.show();
            var commentNewBut = form.find('.comment_new_but');
            commentNewBut.click(function(e){
                e.preventDefault();
                var postId = commentNewBut.attr("data-object-id");
                var url = "/blog/" + postId + "/comment-new/";
                var commentText = form.find('.comment_new_text').val();
                var commentData = {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'post_id': postId,
                    'text': commentText
                };
                $.post(url, commentData, function(data){
                    console.log(data);
                });
                $('.form').hide();
                });
        });
        $('.comment_new_but_hide').click(function(e) {
            e.preventDefault();
            $('.form').hide();
        });
    </script>

</body>
</html>